@font-face {
  font-family: 'Srgm2000';
  src: url('~@/assets/fonts/musicMR.TTF') format('truetype');
}

@font-face {
  font-family: 'SrgmEnglish2000';
  src: url('~@/assets/fonts/musicEN.ttf') format('truetype');
}


$material-light: (
        'background': 'white'
);
$font-size-root: 14px !default;
$label-font-size: 12px !default;
